# ----------------------
# Terraform
# ----------------------
.terraform/
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
terraform.tfvars
terraform.tfvars.json

# ----------------------
# Ansible
# ----------------------
*.retry

# ----------------------
# Python
# ----------------------
__pycache__/
*.py[cod]
.venv/
venv/

# ----------------------
# VS Code
# ----------------------
.vscode/

# ----------------------
# macOS
# ----------------------
.DS_Store

# ----------------------
# Windows
# ----------------------
Thumbs.db

# ----------------------
# Logs
# ----------------------
*.log

# ----------------------
# Secrets
# ----------------------
.env
.env.*
*.pem
*.key
*.crt
id_rsa
id_ed25519
*.kdbx

# ----------------------
# Ansible Vault Password
# ----------------------
.vault_pass

# ----------------------
# AWS Credentials
# ----------------------
.aws/

# ----------------------
# Temporary Files
# ----------------------
tmp/
temp/
